.container{
    min-width: 1024px;
}
main{
    margin-top: 60px;
    width: 100%;
    section{
        position: relative;
        width: 100%;
        height: auto;
        min-height: 520px;
    }
}
