footer{
    background: #F3F5F7;
    line-height: 25px;
    border-top: 1px solid $orange;
    .gray{
        color: #333333;
    }
    .links{
        padding: px2percent(23) px2percent(66);
        display: inline-block;
        vertical-align: top;
        float: left;
    }
    .right{
        float: right;
        padding: px2percent(23) px2percent(66)
    }
    .logo{
        vertical-align: top;
        display: inline-block;
        width: 35px;
        height: 45px;
        margin: 23px 0;
        >img{
            width: 100%;
            height: 100%;
        }
    }
    .contact{
        margin: 23px 0;
        padding-left: 10px;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        border-left: 1px solid $orange;

    }
}
