@import "./base.scss";
main.group{
    section.screen-1{
        // background: url("../images/group/未标题-8.png") no-repeat;
        >img{
            width: 100%;
            height: auto;
        }
        .title-1{
            position: absolute;
            width: 350px;
            height: 38px;
            left: 46px;
            top: percentage(384/520);
            padding-left: 11px;
            color: white;
            line-height: 38px;
            background: rgba(51,51,51,0.42);
            font-size: 24px;
        }
        .title-2{
            position: absolute;
            width: 608px;
            height: 55px;
            left: 35px;
            top: percentage(427/520);
            padding-left: 12px;
            line-height: 55px;
            background-color: $orange;
            font-size: 36px;
            color: white;
        }
    }
    section.screen-2{
        text-align: center;
        width: 100%;
        .title-1{
            padding-top: percentage(70/520);
            font-size: 28px;
            color: $orange;
        }
        .title-2{
            margin-top: 16px;
            font-size: 12px;
            color: #333333;
            letter-spacing: -0.08px;
            line-height: 20px;
        }
        .title-3{
            font-size: 12px;
            color: #000000;
            letter-spacing: -0.08px;
            line-height: 20px;
        }
        .title-4{
            margin-top: 20px;
            font-size: 12px;
            color: $orange;
            letter-spacing: -0.08px;
        }
        .title-5{
            transform: rotateZ(90deg);
            margin-top: 10px;
            color: $orange;
        }
        .events{
            // margin-top: 26px;
            padding: 26px px2percent(67);
            text-align: center;
            .event-item{
                // float: left;
                display: inline-block;
                &:nth-child(2){
                    margin: 0 px2percent(40) ;
                }
                >img{
                    width: 270px;
                    height: 190px;
                }
                .name{
                    margin-top: 15px;
                    font-size: 16px;
                    color: #333333;
                    letter-spacing: -0.1px;
                    &:before{
                        content: '·';
                        color: blue;
                    }
                }
            }
        }
    }
    section.info{
        position: relative;
        .titles{
            width: percentage(101/1024);
            position: absolute;
            line-height: 20px;
            .title-1{
                font-size: 28px;
                color: $orange;
                margin-bottom: 7px;
            }
            .title-2{
                font-size: 12px;
                color: #A2A2A2;
                margin-bottom: 25px;
            }
            .title-3{
                font-size: 12px;
                color: #333333;
            }
            .title-4{
                margin-top: 10px;
                font-size: 12px;
                color: #333333;
            }
        }
        .image{
            width: 480px;
            height: 416px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .screen-3{
        background-color: #F3F5F7;
        position: relative;
        .titles{
            left: percentage(144/1024);
            top: percentage(154/520);
        }
        .image{
            right: percentage(141/1024);
        }
    }
    .screen-4{
        background-color: white;
        .titles{
            right: percentage(174/1024);
            top: percentage(150/520);
        }
        .image{
            left: percentage(142/1024);
        }
    }
    .screen-5{
        background-color: #F3F5F7;
        .titles{
            left: percentage(128/1024);
            top: percentage(140/520);
            width: percentage(185/1024)!important;
        }
        .image{
            right: percentage(138/1025);
        }
    }
}
